@charset "utf-8";
/* CSS Document */

@media (max-width:800px){
	#container {width:90%;
				margin:0 auto;}}

body{
	background-image: url("clouds.jpg");
	
	}

.header {
  	padding: 10px;
  	text-align: center;
  	background: #DBD9D3;
  	color: black;
	}

.navbar {
  	display: flex;
  	background-color: #7C7B8F;
	}

.navbar a {
  	color: #DBD9D3;
  	padding: 14px 20px;
  	text-decoration: none;
  	text-align:center;
	}

.navbar a:hover {
  	background-color: #DBD9D3;
  	color: #7C7B8F ;
	}

.flex-container > index {
  display: flex;
  background-color: #DBD9D3 ;
	flex-wrap:wrap;
	justify-content: center
}

.flex-container > div {
  	background-color: #BCBADB;
  	color: black;
  	width: 300px;
	heaight:400px;
  	margin: 30px;
  	text-align: center;
  	line-height: 75px;
  	font-size: 30px;
}

.row > index {  
  	display: flex;
  	flex-wrap: wrap;
	}

.side > index {
  	flex: 30%;
  	background-color: #DBD9D3;
  	padding: 20px;
	}

.main > index {
  	flex: 70%;
  	background-color: #DBD9D3;
  	padding: 20px;
	}

.about{
	
	}

.albums{
	
	}

.light{
	
	}

.dark{
	
	}

.contact{
	
	}
