@charset "utf-8";
/* CSS Document */

@media (max-width:800px){
	#container {width:90%;
				margin:0 auto;}}

body{
	background-image: url("Pictures/clouds.jpg");
	
	}

.header {
  	padding: 10px;
  	text-align: center;
  	background:#DBD9D3;
  	color: black;
	font-family:'Gentium Book Plus', serif;
	}

.navbar {
  	display: flex;
  	background-color: #7C7B8F;
	font-family:'Gentium Book Plus', serif;
	}

.navbar a {
  	color: #DBD9D3;
  	padding: 14px 20px;
  	text-decoration: none;
  	text-align:center;
	font-family:'Gentium Book Plus', serif;
	}

.navbar a:hover {
  	background-color: #DBD9D3;
  	color: #7C7B8F ;
	font-family:'Gentium Book Plus', serif;
	}

.index{
	
	}

.about{
	
	}

.albums{
	
	}

.light{
	
	}

.dark{
	
	}

.contact{
	
	}

.left{
	flex-grow: 5;
	margin-top: 50px;
	margin-bottom:inherit;
	margin-left: 50px;
	margin-right: 50px;
	background-color:#DBD9D3;
	padding:20px;
	font-family:'Gentium Book Plus', serif;
	text-align: center;
	}

.right{
	flex-grow: 5;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	padding: 20px;
	font-family:'Gentium Book Plus', serif;
	text-alight: center;
	background-color:#DBD9D3;
	align-content: center
	}

* {
  box-sizing:auto;
}

.img {align-items:center;
	padding:10px 10px 10px 10px;
	align-content: center;}
